.DS_Store

# temporary/bytecode files
*~
.*.swp
*.pyc
*.pyo
__pycache__/

#sublime configuration files
*.sublime-project
*.sublime-workspace

.cache
.coverage
*.egg
.eggs
*.egg-info/

.tox
build
_build

claimstore/static/vendors
