{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/docs.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row doc-container">
  <div class="col-sm-3 col-md-3 hidden-print">
    <ul class="nav nav-list sidebar-nav">
      <li class="nav-header">ClaimStore Docs</li>
      <li><a class="page-scroll" href="#subscription">Subscribe</a></li>
      <li><a class="page-scroll" href="#submitclaim">Submit claims</a></li>
      <li><a class="page-scroll" href="#listclaims">List claims</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-md-9 doc-content">
    <h1 class="doc-title-1">API Documentation</h1>
    <p>To be completed</p>
    <h1 class="doc-title-1">Resources</h1>
    <p>List of resources available at ClaimStore</p>
    <section id="subscription">
      <h3>Subscribe to ClaimStore</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-7">
          </colgroup>
          <thead>
            <tr>
              <th colspan="2">POST /subscribe</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Description</th>
              <td>Registers a new claimant into ClaimStore</td>
            </tr>
            <tr>
              <th scope="row">URL</th>
              <td>http://localhost:8080/subscribe</td>
            </tr>
            <tr>
              <th scope="row">Method</th>
              <td>POST</td>
            </tr>
            <tr>
              <th scope="row">Request headers</th>
              <td>Content-Type: application/json</td>
            </tr>
            <tr>
              <th scope="row">Data parameters</th>
              <td>
                <p>JSON with the information of the claimant. The JSON data should be valid according to the <a href="{{ url_for('static', filename='json/schemas/claims/claimant.json') }}">JSON Schema for claimants</a>.</p>
              </td>
            </tr>
            <tr>
              <th scope="row">Success response</th>
              <td>
                <ul>
                  <li>Code: <code>200 OK</code></li>
                  <li>Body: JSON with status and message</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Error response</th>
              <td>
                <ul>
                  <li>Code: <code>40X</code></li>
                  <li>Body: JSON with status and message</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Example</th>
              <td>
                <ul id="example-tabs-subs" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#httpie-subscribe" data-toogle="tab">httpie</a></li>
                  <li role="presentation"><a href="#curl-subscribe" data-toogle="tab">cURL</a></li>
                  <li role="presentation"><a href="#python-subscribe" data-toogle="tab">Python</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="httpie-subscribe">
                    <br />
                    <pre>http POST http://localhost:8080/subscribe &lt; <a href="{{ url_for('static', filename='json/examples/claimant.cds.json') }}">json/examples/claimant.cds.json</a></pre>
                  </div>
                  <div class="tab-pane curl" id="curl-subscribe">
                    <br />
                    <pre>curl http://localhost:8080/subscribe -H "Content-Type: application/json" -d '{"name":"INSPIRE", "url": "http://inspirehep.net", "persistent_identifiers":[{"type":"INSPIRE_RECORD_ID", "description":"INSPIRE record", "url": "http://inspirehep.net/record/&lt;INSPIRE_RECORD_ID&gt;", "example_value": "123", "example_url":"http://inspirehep.net/record/123"}, {"type": "INSPIRE_AUTHOR_ID", "description": "INSPIRE author", "url": "http://inspirehep.net/author/&lt;INSPIRE_AUTHOR_ID&gt;", "example_value": "J.R. Ellis.1", "example_url": "http://inspirehep.net/author/J.R.Ellis.1"}]}' -X POST -v</pre>
                  </div>
                  <div class="tab-pane" id="python-subscribe">
                    <br />
                    <pre>python</pre>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section id="submitclaim">
      <h3>Submit a claim</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-7">
          </colgroup>
          <thead>
            <tr>
              <th colspan="2">POST /claims</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Description</th>
              <td>Stores a new claim in ClaimStore</td>
            </tr>
            <tr>
              <th scope="row">URL</th>
              <td>http://localhost:8080/claims</td>
            </tr>
            <tr>
              <th scope="row">Method</th>
              <td>POST</td>
            </tr>
            <tr>
              <th scope="row">Request headers</th>
              <td>Content-Type: application/json</td>
            </tr>
            <tr>
              <th scope="row">Data parameters</th>
              <td>
                <p>JSON with the information of the claim. The JSON data should be valid according to the <a href="{{ url_for('static', filename='json/schemas/claims/claim.json') }}">JSON Schema for claims</a>.</p>
              </td>
            </tr>
            <tr>
              <th scope="row">Success response</th>
              <td>
                <ul>
                  <li>Code: <code>200 OK</code></li>
                  <li>Body: JSON with status and message</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Error response</th>
              <td>
                <ul>
                  <li>Code: <code>40X</code></li>
                  <li>Body: JSON with status and message</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Example</th>
              <td>
                <ul id="example-tabs-claim" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#httpie-claim" data-toogle="tab">httpie</a></li>
                  <li role="presentation"><a href="#curl-claim" data-toogle="tab">cURL</a></li>
                  <li role="presentation"><a href="#python-claim" data-toogle="tab">Python</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="httpie-claim">
                    <br />
                    <pre>http POST http://localhost:8080/claims &lt; <a href="{{ url_for('static', filename='json/examples/claim.cds.1.json') }}">json/examples/claim.cds.1.json</a></pre>
                  </div>
                  <div class="tab-pane curl" id="curl-claim">
                    <br />
                    <pre>curl http://localhost:8080/claims -H "Content-Type: application/json" -d '{"claimant":"CDS", "object": {"type": "CDS_RECORD_ID", "value": "CMS-PAS-HIG-14-008"}, "claim": {"predicate": "is_same_as", "datetime": "2015-05-25 11:00:00 UTC", "certainty": 100, "arguments":{"human": "False", "actor": "CDS_submission"}}, "subject": {"type": "CDS_REPORT_NUMBER", "value": "2001192"}}' -X POST -v</pre>
                  </div>
                  <div class="tab-pane" id="python-claim">
                    <br />
                    <pre>python</pre>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section id="listclaims">
      <h3>List claims</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-7">
          </colgroup>
          <thead>
            <tr>
              <th colspan="2">GET /claims</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Description</th>
              <td>List of claims in the ClaimStore</td>
            </tr>
            <tr>
              <th scope="row">URL</th>
              <td>http://localhost:8080/claims</td>
            </tr>
            <tr>
              <th scope="row">Method</th>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row">Success response</th>
              <td>
                <p>JSON list with all the claims.</p>
              </td>
            </tr>
            <tr>
              <th scope="row">Error response</th>
              <td>
                <ul>
                  <li>Code: <code>40X</code></li>
                  <li>Body: JSON with status and message</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Example</th>
              <td>
                <ul id="example-tabs-list" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#httpie-list-claims" data-toogle="tab">httpie</a></li>
                  <li role="presentation"><a href="#curl-list-claims" data-toogle="tab">cURL</a></li>
                  <li role="presentation"><a href="#python-list-claims" data-toogle="tab">Python</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="httpie-list-claims">
                    <br />
                    <pre>http GET http://localhost:8080/claims</pre>
                  </div>
                  <div class="tab-pane curl" id="curl-list-claims">
                    <br />
                    <pre>curl http://localhost:8080/claims</pre>
                  </div>
                  <div class="tab-pane" id="python-list-claims">
                    <br />
                    <pre>python</pre>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript">
  $('ul[id^=example-tabs] a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
</script>

{% endblock %}
